:root {
    --background-color: #2B213B;
    --main-color: #ffffff;
    --lighter-shade: #624D87;
    --darker-shade: #251D33;
    --gray: rgba(0,0,0,.70);
    --header-font: 'Roboto Slab', serif;
    --body-font: 'Open Sans', sans-serif;
}
*{
    margin: 0;
}
.hide{
    display: none;
}
.show{
    display: flex;
}
body {
    background-color: var(--main-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--main-color);
    font-family: var(--body-font);
    height: fit-content;
    width: 100%;
    
}
h1, h2, h3, h4 {
    font-family: var(--header-font);
}
.nav-bar{
    display: flex;
    width: 100%;
    height: 8rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--background-color);
}
.nav-bar-logo-wrapper{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--background-color);
}
.nav-bar-logo-wrapper > h1{
    padding: .5em 1em;
}
.nav-bar-logo-wrapper > .weather-logo{
    width: 50px;
    margin-left: 1rem;
} 
.nav-bar-link-wrapper {
    display: flex;
}
.nav-bar-link-wrapper > a {
    padding: .5em 1em;
    flex: 1;
    text-decoration: none;
    background-color: var(--main-color);
    color: var(--background-color);
    font-family: var(--header-font);
    font-weight: 900px;
    border-radius: 0px 0px 4px 4px;
}
.nav-bar-link-wrapper > a{
    border-right: 1px solid var(--background-color);
}

.nav-bar-link-wrapper > a:hover{
    background-color: var(--lighter-shade);
    color: var(--main-color);
    border-radius: 0px 0px 4px 4px;
}

.flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-items {
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
}
.w-80 {
    width: 80%;
}
#app-wrapper {
    margin-top: 2rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-bottom: 2rem;
}
#no-user {
    flex-direction: column;
}
#login-or-signup {
    background: var(--darker-shade);
    color: var(--main-color);
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
}
#login-or-signup-please {
    background: var(--darker-shade);
    color: var(--main-color);
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
}
#login-or-signup:hover {
    font-size: 2rem;
}
#form-select-buttons {
    height: 100%;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#form-select-buttons > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    font-weight: 800;
    font-size: 1.5rem;
    margin: 1rem;
    -webkit-box-shadow: -5px 4px 16px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 4px 16px -7px rgba(0,0,0,0.75);
    box-shadow: -5px 4px 16px -7px rgba(0,0,0,0.75);
    color: var(--main-color);
    background-color: var(--background-color);
}
#form-select-buttons > div:hover {
    color: var(--main-color);
    background-color: var(--lighter-shade);
    font-size: 2rem;
}

#back-to-form-select {
    color: var(--main-color);
    background-color: var(--background-color);
    padding: .5rem 1rem;
    margin: 1rem 0rem;
}
form {
    width: 80%;
    flex-wrap: wrap;
    color: var(--main-color);
    background-color: var(--background-color);
    height: fit-content;
    justify-content: space-evenly;
    padding: 1rem 0rem;
}

form > div {
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0rem;
}
form > div > label {
    margin-right: 1rem;
    font-weight: 800;
}
.input-field {
    flex-direction: column;
}
.signup-field {
    flex-direction: column;
}
#login-form, #signup-form, #login-or-signup, #back-to-form-select {
    cursor: pointer;
}
#hide-password {
    flex-direction: row;
}
/* PROFILE PROFILE  PROFILE  PROFILE  PROFILE  PROFILE  PROFILE  */
.grid {
    display: grid;
}
#profile {
    justify-items: center;
    align-items: center;
    color: var(--background-color);
    width: 90%;
    grid-template-columns: 5% 80% 5%;
    grid-template-rows: 6rem 1fr 1fr;
    background: var(--main-color);
    padding: 5px;
    border: 2px solid var(--darker-shade);

}
#profile-header {
    width: 100%;
    grid-area: 1/1/2/5;
    text-align: center;
    background: var(--darker-shade);
    color: var(--main-color);
    padding: 1rem 0rem;
}
#image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
    width: 100%;
    grid-area: 2/1/4/5;
    padding: 1rem 0rem;
    background: var(--darker-shade)
}
#change-profile {
    color: var(--background-color);
    background: var(--main-color);
    margin: .5rem 1rem;
    border-radius: 14px;
    font-size: 1.25rem;
    padding: 0.1rem .5rem;
    text-align: center;
    grid-area: 3/1/5/4;
    cursor: pointer;
}
#change-profile:hover {
    background: var(--lighter-shade);
    font-size: 1.5rem;
}
#image-upload-form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: .5rem 1rem;
    background: var(--lighter-shade)
}
#image-upload-button {
    display: flex;
    justify-content: center;
    margin: .5rem .5rem;
    color: var(--background-color);
}
/* PROFILE PROFILE  PROFILE  PROFILE  PROFILE  PROFILE  PROFILE  */
